body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.q1{
    height: 200px;
    width: 200px;
    background: #000;
    animation: why 3s;
}

@keyframes why{
   from{
    transform: rotate(0);
   } 

   to{
    transform: rotate(45deg);
   }

}