body{
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
}

.q1{
    background-color: black;
    animation: why 3s infinite;
}

@keyframes why {
    from{
        width: 200px;
        height: 200px;
        transform: translateY(150px);
    }
    to{
        width: 70px;
        height: 70px;
        transform: translateX(-500px)
    }
}